@page
@model Pride.Areas.Dashboard.Pages.FinanceCompanies.CreateModel

@{
    ViewData["Title"] = "Create";
}

<div class="row">
    <div class="col-md-12">
        <div class="panel panel-default border-panel card-view">
            <div class="panel-heading">
                <div class="pull-left">
                    <h6 class="panel-title txt-dark">Add New Insurance Company</h6>
                </div>
                <div class="clearfix"></div>
            </div>
            <div class="panel-wrapper collapse in">
                <div class="panel-body">
                    <div class="form-wrap">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="row">
                                    <div class="col-md-4">
                                        <form method="post">
                                            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                                            <div class="form-group">
                                                <label asp-for="FinanceCompany.FinanceCompanyName" class="control-label">Finance Company Name</label>
                                                <input asp-for="FinanceCompany.FinanceCompanyName" class="form-control" />
                                                <span asp-validation-for="FinanceCompany.FinanceCompanyName" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FinanceCompany.Address" class="control-label"></label>
                                                <input asp-for="FinanceCompany.Address" class="form-control" />
                                                <span asp-validation-for="FinanceCompany.Address" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <label asp-for="FinanceCompany.ContactNumber" class="control-label">Contact Number</label>
                                                <input asp-for="FinanceCompany.ContactNumber" class="form-control" />
                                                <span asp-validation-for="FinanceCompany.ContactNumber" class="text-danger"></span>
                                            </div>
                                            <div class="form-group">
                                                <input type="submit" value="Create" class="btn btn-primary" />
                                                <a href="./index" value="Cancel" class="btn btn-success">Cancel</a>
                                            </div>
                                        </form>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


