@page
@model Pride.Areas.Dashboard.Pages.Acord.AcordModel
@{
}
<div class="container">
    <div class="header">
        <h1>ACORD</h1>
        <h1>CERTIFICATE OF LIABILITY INSURANCE</h1>
        <div class="date-box">
            <p>DATE (MM/DD/YYYY)</p>
            <p>07/10/2024</p>
        </div>
    </div>
    <div class="content">
        <p>
            THIS CERTIFICATE IS ISSUED AS A MATTER OF INFORMATION ONLY AND CONFERS NO RIGHTS UPON THE CERTIFICATE
            HOLDER. THIS CERTIFICATE DOES NOT AFFIRMATIVELY OR NEGATIVELY AMEND, EXTEND OR ALTER THE COVERAGE
            AFFORDED BY THE POLICIES BELOW. THIS CERTIFICATE OF INSURANCE DOES NOT CONSTITUTE A CONTRACT BETWEEN THE
            ISSUING INSURER(S), AUTHORIZED REPRESENTATIVE OR PRODUCER, AND THE CERTIFICATE HOLDER.
        </p>
    </div>
    <div class="important">
        <p>
            IMPORTANT: If the certificate holder is an ADDITIONAL INSURED, the policy(ies) must be endorsed. If
            SUBROGATION IS WAIVED, subject to the terms and conditions of the policy, certain policies may require
            an endorsement. A statement on this certificate does not confer rights to the certificate holder in lieu
            of such endorsement(s).
        </p>
    </div>

    <div class="producer1">
        <div class="producer-box">

            <div class="producer-box2">
                <table class="container1">
                    <tr>
                        <td class="header">CONTACT NAME: </td>
                        <td>Certificate Department</td>
                    </tr>
                    <tr>
                        <td class="header">PHONE (A/C, No, Ext):</td>
                        <td>443-305-5513</td>
                    </tr>
                    <tr>
                        <td class="header">FAX (A/C, No):</td>
                        <td></td>
                    </tr>
                    <tr>
                        <td class="header">E-MAIL ADDRESS:</td>
                        <td>certs@theprideinsurance.com</td>
                    </tr>
                    <tr>
                        <td class="header">INSURER A : ACCREDITED SPECIALTY INS CO</td>
                        <td>16835</td>
                    </tr>
                </table>
            </div>
            <div class="producer-box3">
                <p>
                    PRODUCER PRIDE INSURANCE LLC
                    Wyndale Dr
                    Bargersville IN 46106
                </p>
            </div>
        </div>
        <div class="producer-box4">
            <div class="producer-box5">
                <table>



                    <tr>
                        <td class="header">INSURER B :</td>
                        <td>American inter fidelity exchange</td>

                    </tr>
                    <tr>
                        <td class="header">INSURER C :</td>
                        <td>Lloyd's of London</td>

                    </tr>
                    <tr>
                        <td class="header">INSURER D :</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td class="header">INSURER E :</td>
                        <td></td>

                    </tr>
                    <tr>
                        <td class="header">INSURER F :</td>
                        <td></td>

                    </tr>
                </table>
            </div>
            <div class="producer-box6">
                <p>
                    BASRA FREIGHT LINES INC
                    2254 BRIGADE PL MANTECA,
                    MANTECA, CA 95337
                </p>
            </div>
        </div>
    </div>

    <table class="coverage-details-table">
        <tr>
            <th>INSR LTR</th>
            <th>TYPE OF INSURANCE</th>
            <th>ADDL INSR</th>
            <th>SUBR WVD</th>
            <th>POLICY NUMBER</th>
            <th>POLICY EFF (MM/DD/YYYY)</th>
            <th>POLICY EXP (MM/DD/YYYY)</th>
            <th>LIMITS</th>
        </tr>
        <tr>
            <td>A</td>
            <td>
                COMMERCIAL GENERAL LIABILITY<br>
                <input type="checkbox" checked> CLAIMS-MADE<br>
                <input type="checkbox"> OCCUR<br>
                GEN'L AGGREGATE LIMIT APPLIES PER:<br>
                <input type="checkbox"> POLICY<br>
                <input type="checkbox"> PROJECT<br>
                <input type="checkbox"> LOC<br>
                <input type="checkbox"> OTHER:
            </td>
            <td></td>
            <td></td>
            <td>228311-002TGL-88370</td>
            <td>04/18/2024</td>
            <td>04/18/2025</td>
            <td>
                EACH OCCURRENCE: $1,000,000<br>
                DAMAGE TO RENTED PREMISES (Ea occurrence): $1,000,000<br>
                MED EXP (Any one person): $5,000<br>
                PERSONAL & ADV INJURY: $1,000,000<br>
                GENERAL AGGREGATE: $2,000,000<br>
                PRODUCTS - COMP/OP AGG: $2,000,000
            </td>
        </tr>
        <tr>
            <td>A</td>
            <td>
                AUTOMOBILE LIABILITY<br>
                <input type="checkbox" checked> ANY AUTO<br>
                <input type="checkbox"> ALL OWNED AUTOS<br>
                <input type="checkbox" checked> SCHEDULED AUTOS<br>
                <input type="checkbox"> HIRED AUTOS<br>
                <input type="checkbox" checked> NON-OWNED AUTOS
            </td>
            <td></td>
            <td></td>
            <td>2-CWH-IN-19-50127802-00</td>
            <td>10/18/2023</td>
            <td>10/18/2024</td>
            <td>
                COMBINED SINGLE LIMIT (Ea accident): $1,000,000
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                UMBRELLA LIAB<br>
                <input type="checkbox"> OCCUR<br>
                <input type="checkbox"> CLAIMS-MADE<br>
                <br>
                EXCESS LIAB<br>
                <input type="checkbox"> DED<br>
                RETENTION $
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                EACH OCCURRENCE: $<br>
                AGGREGATE: $
            </td>
        </tr>
        <tr>
            <td></td>
            <td>
                WORKERS COMPENSATION AND EMPLOYERS' LIABILITY<br>
                <input type="checkbox"> ANY PROPRIETOR/PARTNER/EXECUTIVE<br>
                OFFICER/MEMBER EXCLUDED?<br>
                (Mandatory in NH)<br>
                <input type="checkbox"> N/A<br>
                If yes, describe under<br>
                DESCRIPTION OF OPERATIONS below
            </td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td></td>
            <td>
                PER STATUTE<br>
                E.L. EACH ACCIDENT: $<br>
                E.L. DISEASE - EA EMPLOYEE: $<br>
                E.L. DISEASE - POLICY LIMIT: $
            </td>
        </tr>
        <tr>
            <td>B</td>
            <td>MOTOR TRUCK CARGO</td>
            <td></td>
            <td></td>
            <td>I23M8960-88370</td>
            <td>04/27/2023</td>
            <td>04/27/2024</td>
            <td>$100,000 Reefer Breakdown DED $2,500</td>
        </tr>
        <tr>
            <td>C</td>
            <td>PHYSICAL DAMAGE</td>
            <td></td>
            <td></td>
            <td>I23C8959-88370</td>
            <td>04/27/2023</td>
            <td>04/27/2024</td>
            <td>COMP & COLL DED $2,500</td>
        </tr>
    </table>

    <p>
        <strong>
            Description of Operations / Locations / Vehicles (ACORD 101, Additional Remarks Schedule, may be
            attached if more space is required):
        </strong>
    </p>
    <p>Description of Operation on Acord 101</p>

    <div class="header">
        <h1>ACORD</h1>
        <h1>ADDITIONAL REMARKS SCHEDULE</h1>
        <p>AGENCY CUSTOMER ID: _____________________ </p>





    </div>
    <div style="float: right;font-weight: bold; margin-right: 100px; ">
        <p>LOC #: ________________</p>
    </div>

    <div class="content">
        <div class="section">
            <table class="agency-info-table">
                <tr>
                    <td><strong>AGENCY</strong><br>PRIDE INSURANCE LLC</td>
                    <td><strong>NAMED INSURED</strong><br>BASRA FREIGHT LINES INC<br>6734 Collisi Pl 1st f</td>
                </tr>
                <tr>
                    <td><strong>POLICY NUMBER</strong><br>2-CWH-IN-19-S0127802-00</td>
                    <td><strong>NAIC CODE</strong><br>16835</td>
                </tr>
                <tr>
                    <td><strong>CARRIER</strong><br>ACCREDITED SPECIALTY INS CO</td>
                    <td><strong>EFFECTIVE DATE</strong><br>10/18/2023</td>
                </tr>
            </table>
        </div>

        <div class="section remarks">
            <p><strong>THIS ADDITIONAL REMARKS FORM IS A SCHEDULE TO ACORD FORM,</strong></p>
            <p>FORM NUMBER: 25 &emsp; FORM TITLE: CERTIFICATE OF LIABILITY INSURANCE</p>
            <table class="vehicle-info-table">
                <tr>
                    <th>Year</th>
                    <th>Make/Model</th>
                    <th>VIN</th>
                    <th>Value</th>
                </tr>
                <tr>
                    <td>2022</td>
                    <td>FREIGHTLINER</td>
                    <td>3AKJHHDR7NSMY3770</td>
                    <td>$110,000</td>
                </tr>
                <tr>
                    <td>2020</td>
                    <td>FREIGHTLINER</td>
                    <td>3AKJHHDR9LSLW2507</td>
                    <td>$55,000</td>
                </tr>
                <tr>
                    <td>2017</td>
                    <td>Utility 3000R</td>
                    <td>UYVS2538HM850575</td>
                    <td>$45,000</td>
                </tr>
                <tr>
                    <td>2019</td>
                    <td>Wabash Trailer</td>
                    <td>1JJY532D9KL115861</td>
                    <td>$30,000</td>
                </tr>
            </table>
        </div>
    </div>

    <div class="footer">
    </div>
</div>